@import 'bootstrap/dist/css/bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

a {
  color: #CC0000;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
}

.logout-button {
  margin-right: 5px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #ffffff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("windows_10.jpg");
  background-size: cover;
  height: 550px;
}

.jumbotron h1{
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #eeaaee;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 0;
  padding-bottom: 0;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
}

.article-score {
  border-top: 2px solid #eaeaea;
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F2;
  color: #CC0000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

.art-comments {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.comment-description {
  margin-top: 0;
  color: black;
}

.comment-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
}

.results-block {
  background-color: white;
}

.article-created {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 2px solid #eeaaee;
}